<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>프로필 편집</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments/slidePanel.css}" />
    <link rel="stylesheet" th:href="@{/css/user/editpage.css}" />
    <!-- Script -->
    <script th:src="@{/script/global/jquery.js}"></script>
    <script th:src="@{/script/fragments/slidePanel.js}"></script>
    <script th:src="@{/script/user/edit.js}"></script>
  </head>
  <body>
    <!-- fragments place -->
    <div th:insert="~{fragments/header :: top-bar}"></div>
    <div th:insert="~{fragments/slidePanel :: slide-panel}"></div>

    <div class="button-container">
      <p>
        <a th:href="@{/users/auth/logout}" class="logout-button">로그아웃</a>
      </p>
      <p><a th:href="@{/users/mypage}" class="back-button">마이페이지</a></p>
    </div>

    <div class="edit-profile-section">
      <h2>프로필 편집</h2>
      <form
        th:action="@{/api/users/{id}(id=${user.id})}"
        method="PATCH"
        enctype="application/json"
      >
        <input type="hidden" id="userId" name="id" th:value="${user.id}" />
        <div class="profile-img-container">
          <img
            alt="profile_photo"
            id="profilePhoto"
            class="profile-photo"
            th:src="@{${userInfo.profileImg} != null ? ${userInfo.profileImg} : '/images/user/profile_default.jpg'}"
          />
          <!-- 파일 선택은 별도의 AJAX 로 처리 -->
          <input
            type="file"
            id="profile-img"
            name="profileImgFile"
            accept="image/*"
          />
        </div>
        <div class="input-group">
          <label for="nickname">닉네임</label>
          <input
            type="text"
            id="nickname"
            name="nickname"
            th:value="${user.nickname}"
            required
          />
        </div>
        <div class="input-group checkbox-group">
          <label>
            <input
              type="checkbox"
              id="agreeLoc"
              name="isAgreeLoc"
              th:checked="${user.isAgreeLoc}"
            />
            위치 정보 동의
          </label>
          <label>
            <input
              type="checkbox"
              id="agreeNewsNoti"
              name="isAgreeNewsNoti"
              th:checked="${user.isAgreeNewsNoti}"
            />
            뉴스 및 알림 동의
          </label>
          <label>
            <input
              type="checkbox"
              id="agreeMarketingNoti"
              name="isAgreeMarketingNoti"
              th:checked="${user.isAgreeMarketingNoti}"
            />
            마케팅 알림 동의
          </label>
        </div>
        <button type="submit" class="save-button">저장</button>
      </form>
    </div>
  </body>
</html>
