<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/global/reset.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/slidePanel.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
    <!-- Script -->
    <script th:src="@{/script/global/jquery.js}"></script>
    <script th:src="@{/script/fragments/slidePanel.js}"></script>
    <script type="module" th:src="@{/script/user/myPage.js}"></script>
  </head>
  <body>
    <!-- fragments place -->
    <div th:insert="~{fragments/header :: top-bar}"></div>
    <div th:insert="~{fragments/slidePanel :: slide-panel}"></div>

    <div class="button-container">
      <p><a th:href="@{/users/auth/logout}" class="logout-button">로그아웃</a></p>
      <p>
        <a th:href="@{/users/editpage}" class="edit-button">프로필 편집</a>
      </p>
    </div>

    <div class="profile-section">
      <img th:src="@{/images/user/circle.png}" alt="profile_photo" class="profile-photo" id="profilePhoto">
      <h2 id="name" th:text="${userInfo.nickname}">이름</h2>
    </div>

    <div class="menu-section">
      <div class="button-section">
        <button id="mySchedule" class="menu-btn">내 여행</button>
        <button id="myReview" class="menu-btn">리뷰</button>
        <button id="myScrap" class="menu-btn">여행기</button>
      </div>
    </div>

    <div class="trip-record">
      <h4 class="former-trip">지난 여행</h4>
      <div id="scheduleContainer">
        <div id="tripHistory" class="trip-history">
          <img th:src="@{/images/user/circle.png}" alt="plus-image" class="sample-photo"/>
          <div class="trip-info">
            <h4>여행 이름</h4>
            <p>일정 기간</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
