<div th:fragment="slide-panel">
    <div class="slide-panel" id="slidePanel">
        <div class="panel-header">
            <span class="close-btn" id="closeBtn">X</span>
        </div>
        <div class="panel-content-container">
            <div class="panel-box">
                <th:block th:unless="${isLoggedIn}">
                    <span>
                        <a th:href="@{/users/login}" class="panel-content">로그인</a>
                        /
                        <a th:href="@{/users/signup}" class="panel-content">회원가입</a>
                    </span>
                </th:block>
                <th:block th:if="${isLoggedIn}">
                    <span><a th:href="@{/users/mypage}">[[ ${userInfo.nickname} ]]님</a>, 반갑습니다!</span>
                    <br>
                    <span>
                        <a th:href="@{/users/auth/logout}" class="panel-content">로그아웃</a>
                    </span>
                </th:block>
            </div>
            <div class="panel-box">
                <span>
                    <a th:href="@{/users/mypage}" class="panel-content">마이 페이지</a>
                </span>
            </div>
            <div class="panel-box">
                <span>
                    <a th:href="@{/guides}" class="panel-content">도시별 여행정보</a>
                </span>
            </div>
            <div class="panel-box">
                <span>
                    <a th:href="@{/schedules/survey/1}" class="panel-content">AI 추천 맞춤 일정</a>
                </span>
            </div>
            <div class="panel-box">
                <span>
                    <a th:href="@{/schedules/reviews}" class="panel-content">여행기 둘러보기</a>
                </span>
            </div>
        </div>
    </div>
</div>