<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여행 사전 설문</title>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/schedule/survey.css}">
    <!-- Script -->
    <script th:src="@{/script/global/jquery.js}"></script>
    <script th:src="@{/script/schedule/survey.js}"></script>
</head>
<body>
    <div class="container">
        <a href="#" class="back-button" onclick="history.back(); return false;"
        >←</a>
        <div class="page-number">4/4</div>


        <button type="button" class="submit-button" id="savePage3AndGoToNext">다음</button>
        
    </div>
</body>
</html>
