<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>여행 사전 설문</title>
    
    <script defer src="../../../static/script/global/jquery.js"></script>
    <script defer src="../../../static/script/global/jquery-ui.js"></script>
    <script type="module" defer src="../../../static/script/schedule/survey.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../../../static/css/schedule/survey.css">
</head>
<body>
    <div class="calendar-container">
        <div id="start_date_calendar"></div>
    </div>
    <div class="submit-button-container">
        <button type="button" class="submit-button" id="submitSurvey">
            바로 추천 받기
        </button>
    </div>
</body>
</html>
