<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정 보기</title>
    <script th:src="@{/script/global/jquery.js}" src="../../static/script/global/jquery.js"></script>

    <!-- google map api script -->
    <script th:inline="javascript">
        function loadGoogleMapsApi() {
            const gmaScript = document.createElement("script");
            gmaScript.src = "https://maps.googleapis.com/maps/api/js?key="
            + /*[[${googleMapsApiKey}]]*/
            + "&loading=async&callback=initMap"
            gmaScript.async = true;
            gmaScript.defer = true;
            document.head.appendChild(gmaScript);
        }
        document.addEventListener("DOMContentLoaded", loadGoogleMapsApi);
    </script>
    <!-- script -->
    <script type="module" th:src="@{/script/schedule/detail.js}" src="../../static/script/schedule/detail.js"></script>
    <script th:src="@{/script/fragments/slidePanel.js}" src="../../static/script/fragments/slidePanel.js"></script>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/schedule/detail.css}" href="../../static/css/schedule/detail.css">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" href="../../static/css/fragments/header.css">
    <link rel="stylesheet" th:href="@{/css/fragments/slidePanel.css}" href="../../static/css/fragments/slidePanel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <!-- <div class="fragments-container">
        <div th:insert="~{fragments/header :: top-bar}"></div>
        <div th:insert="~{fragments/slidePanel :: slide-panel}"></div>
    </div> -->

    <!-- Schedule Container -->
    <div class="left">
        <div class="schedule-meta-info">
            <div class="country-name-container">
                <span class="country-name">일본</span>
                <span class="country-id" hidden>1</span>
            </div>
            <div class="city-name-container">
                <span class="city-name">도쿄</span>
                <span class="city-id" hidden>1</span>
            </div>
            <div class="schedule-info-container">
                <span class="schedule-id" hidden>1</span>
                <span class="schedule-name">마천루 여행</span>
            </div>
            <div class="schedule-duratin-container">
                <span class="start-date">2024-12-30</span>
                <span class="schedule-date-seperator">~</span>
                <span class="end-date">2025-01-03</span>
            </div>
            <div class="update-container">
                <span id="updateBtn" class="update-schedule-btn">수정하기</span>
            </div>
        </div>

        <div class="detail-container">
            <div class="day-anchor">
                <div class="day-header">
                    <span class="detail-schedule-id" hidden>1</span>
                    <span class="date-order">Day 1</span>
                    <span class="detail-schedule-date" hidden>2024-12-30</span>
                </div>
                <div class="route-container">
                    <span class="route-id" hidden>1</span>
                    <span class="route-order-number" hidden>1</span>
                    <div class="dest-box">
                        <div class="dest-info">
                            <span class="dest-id" hidden>1</span>
                            <div class="dest-titleImg-container">
                                <a href="#"></a>
                            </div>
                            <div class="dest-data">
                                <div class="dest-str-container">
                                    <span class="dest-krName">도쿄 도청</span>
                                    <span class="dest-title">여기 놀러 오세요!@ 무려 공짜!</span>
                                </div>
                                <div class="dest-meta">
                                    <span class="dest-type">관광지</span>
                                    <div class="coordinate">
                                        <span class="lat" hidden>135.1234567</span>
                                        <span class="lng" hidden>35.12446</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="route-container">
                    <span class="route-id" hidden>3</span>
                    <span class="route-order-number" hidden>1</span>
                    <div class="dest-box">
                        <div class="dest-info">
                            <span class="dest-id" hidden>1</span>
                            <div class="dest-titleImg-container">
                                <a href="#"></a>
                            </div>
                            <div class="dest-data">
                                <div class="dest-str-container">
                                    <span class="dest-krName">스카이 트리</span>
                                    <span class="dest-title">아니 여기서 요코하마가 보인다고?!</span>
                                </div>
                                <div class="dest-meta">
                                    <span class="dest-type">관광지</span>
                                    <div class="coordinate">
                                        <span class="lat" hidden>135.1234567</span>
                                        <span class="lng" hidden>35.12446</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="day-anchor">
                <div class="day-header">
                    <span class="detail-schedule-id" hidden></span>
                    <span class="date-order">Day 2</span>
                    <span class="detail-schedule-date" hidden>2024-12-31</span>
                </div>
                <div class="day-body">
                    <div class="route-container">
                        <span class="route-id" hidden>2</span>
                        <span class="route-order-number" hidden>1</span>
                        <div class="dest-box">
                            <div class="dest-info">
                                <span class="dest-id" hidden>3</span>
                                <div class="dest-titleImg-container">
                                    <a href="#"></a>
                                </div>
                                <div class="dest-data">
                                    <div class="dest-str-container">
                                        <span class="dest-krName">롯폰기 힐즈</span>
                                        <span class="dest-title">도쿄 타워 야경을 바라보며 우아하게 커피 한잔!!</span>
                                    </div>
                                    <div class="dest-meta">
                                        <span class="dest-type">관광지</span>
                                        <div class="coordinate">
                                            <span class="lat" hidden>135.1234567</span>
                                            <span class="lng" hidden>35.12446</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!------------------------------------------------------------------------>
    <div class="right">
        <div id="map" class="google-map"></div>
        <div class="footer-container">
            <div class="left-btn-container">
                <span class="left-btn"><i class="fas fa-chevron-left"></i></span>
            </div>
            <div class="footer-slider">
                <div class="footer-dest-container">
                    <div class="footer-anchor">
                        <div class="footer-dest-header">
                            <span class="footer-dest-id" hidden>2</span>
                        </div>
                        <div class="footer-body-left">
                            <div class="footer-dest-titleImg-container">
                                <img src="#" alt="대표 이미지">
                            </div>
                        </div>
                        <div class="footer-body-right">
                            <div class="footer-dest-data">
                                <span class="footer-dest-krName">롯폰기 힐즈</span>
                                <span class="footer-dest-content">시원한 하늘을 볼 수 있는 마천루!</span>
                            </div>
                            <div class="footer-dest-meta-info">
                                <span class="footer-dest-score">4.3</span>
                                <span class="footer-dest-reviews">(120개 리뷰)</span>
                            </div>
                        </div>
                    </div>
                    <div class="footer-anchor">
                        <div class="footer-dest-header">
                            <span class="footer-dest-id" hidden>3</span>
                        </div>
                        <div class="footer-body-left">
                            <div class="footer-dest-titleImg-container">
                                <img src="#" alt="대표 이미지">
                            </div>
                        </div>
                        <div class="footer-body-right">
                            <div class="footer-dest-data">
                                <span class="footer-dest-krName">비싼 레스토랑</span>
                                <span class="footer-dest-content">예쁜 도쿄 타워를 마주보며 식사가 가능한 곳!</span>
                            </div>
                            <div class="footer-dest-meta-info">
                                <span class="footer-dest-score">4.7</span>
                                <span class="footer-dest-reviews">(250개 리뷰)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-btn-container">
                <span class="right-btn"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>

</body>
</html>
