<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정 보기</title>
    <script th:src="@{/script/global/jquery.js}" src="../../static/script/global/jquery.js"></script>
	<script th:inline="javascript">
        window.googleMapsApiKey = [[ ${googleMapsApiKey} ]];
	</script>
    <!-- google map api script -->
    <!-- script -->
    <script th:src="@{/script/fragments/slidePanel.js}" src="../../static/script/fragments/slidePanel.js"></script>
    <script type="module" th:src="@{/script/schedule/detail.js}" src="../../static/script/schedule/detail.js"></script>

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/schedule/detail.css}" href="../../static/css/schedule/detail.css">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}" href="../../static/css/fragments/header.css">
    <link rel="stylesheet" th:href="@{/css/fragments/slidePanel.css}" href="../../static/css/fragments/slidePanel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <!-- Schedule Container -->
    <div class="left">
        <div class="schedule-meta-info">
            <div class="country-name-container">
                <span class="country-name">[[${schedule.countryName}]]</span>
                <span class="country-id" hidden>[[${schedule.countryId}]]</span>
            </div>
            <div class="city-name-container">
                <span class="city-name">[[${schedule.cityName}]]</span>
                <span class="city-id" hidden>[[${schedule.cityId}]]</span>
            </div>
            <div class="schedule-info-container">
                <span class="schedule-name">[[${schedule.name}]]</span>
                <span class="schedule-id" hidden>[[${schedule.id}]]</span>
            </div>
            <div class="schedule-duratin-container">
                <span class="start-date">[[${schedule.startDate}]]</span>
                <span class="schedule-date-seperator">~</span>
                <span class="end-date">[[${schedule.endDate}]]</span>
            </div>
            <div class="update-container">
                <span id="updateBtn" class="update-schedule-btn">수정하기</span>
            </div>
        </div>

        <div class="detail-container">
            <div class="day-anchor" th:each="detailSchedule, status: ${schedule.detailSchedules}">
                <div class="day-header">
                    <span class="detail-schedule-id" hidden>[[ ${detailSchedule.id} ]]</span>
                    <span class="date-order">Day [[${status.count}]]</span>
                    <span class="detail-schedule-date" hidden>[[${detailSchedule.date}]]</span>
                </div>
                <div class="route-container" th:each="route, routeStatus: ${detailSchedule.routes}">
                    <span class="route-id" hidden>[[${route.id}]]</span>
                    <span class="route-order-number" hidden>[[${route.orderNumber}]]</span>
                    <div class="dest-box">
                        <div class="dest-info">
                            <span class="dest-id" hidden>[[${route.destination.id}]]</span>
                            <div class="dest-titleImg-container" th:switch="${route.destination.type}">
                                <a th:case="1" th:href="|${baseStaticURL}/sightseeing/destination/${route.destination.titleImg}|"></a>
                                <a th:case="2" th:href="|${baseStaticURL}/restaurant/destination/${route.destination.titleImg}|"></a>
                                <a th:case="3" th:href="|${baseStaticURL}/shopping/destination/${route.destination.titleImg}|"></a>
                                <a th:case="4" th:href="|${baseStaticURL}/accommodation/destination/${route.destination.titleImg}|"></a>
                                <a th:case="5" th:href="|${baseStaticURL}/transport/destination/${route.destination.titleImg}|"></a>
                                <a th:case="6" th:href="|${baseStaticURL}/tourism/destination/${route.destination.titleImg}|"></a>
                            </div>
                            <div class="dest-data">
                                <div class="dest-str-container">
                                    <span class="dest-krName">[[${route.destination.krName}]]</span>
                                    <span class="dest-title">[[${route.destination.title}]]</span>
                                </div>
                                <div th:switch="${route.destination.type}">
                                    <div class="dest-meta">
                                        <span th:case="1" th:value="관광지" class="dest-type"></span>
                                        <span th:case="2" th:value="식당" class="dest-type"></span>
                                        <span th:case="3" th:value="쇼핑센터" class="dest-type"></span>
                                        <span th:case="4" th:value="숙박업소" class="dest-type"></span>
                                        <span th:case="5" th:value="대중교통" class="dest-type"></span>
                                        <span th:case="6" th:value="여행지" class="dest-type"></span>
                                        <div class="coordinate" hidden>
                                            <span class="lat">[[${route.destination.latitude}]]</span>
                                            <span class="lng">[[${route.destination.longitude}]]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!------------------------------------------------------------------------>
    <div class="right">
        <div id="map" class="google-map"></div>
        <div class="footer-container">
            <div class="left-btn-container">
                <span class="left-btn"><i class="fas fa-chevron-left"></i></span>
            </div>
            <div class="footer-slider">
                <div class="footer-dest-container">
                    <div class="footer-anchor" th:each="destination : ${destinations}">
                        <div class="footer-dest-header">
                            <span class="footer-dest-id" hidden>[[ ${destination.id} ]]</span>
                        </div>
                        <div class="footer-body-left">
                            <div class="footer-dest-titleImg-container" th:switch="${destination.type}">
                                <a th:case="1" th:href="|${baseStaticURL}/sightseeing/destination/${destination.titleImg}|"></a>
                                <a th:case="2" th:href="|${baseStaticURL}/restaurant/destination/${destination.titleImg}|"></a>
                                <a th:case="3" th:href="|${baseStaticURL}/shopping/destination/${destination.titleImg}|"></a>
                                <a th:case="4" th:href="|${baseStaticURL}/accommodation/destination/${destination.titleImg}|"></a>
                                <a th:case="5" th:href="|${baseStaticURL}/transport/destination/${destination.titleImg}|"></a>
                                <a th:case="6" th:href="|${baseStaticURL}/tourism/destination/${destination.titleImg}|"></a>
                            </div>
                        </div>
                        <div class="footer-body-right">
                            <div class="footer-dest-data">
                                <span class="footer-dest-krName">[[${destination.krName}]]</span>
                                <span class="footer-dest-content">[[${destination.title}]]</span>
                            </div>
                            <div class="footer-dest-meta-info">
                                <span class="footer-dest-score">[[${destination.score}]]</span>
                                <span class="footer-dest-reviews"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-btn-container">
                <span class="right-btn"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>

</body>
</html>
