<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>스케줄 편집</title>

    <!-- 드래그 앤 드랍 -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <!-- 기본 -->
    <link rel="stylesheet" th:href="@{/css/schedule/update.css}" href="../../static/css/schedule/update.css">
    <script th:src="@{/script/global/jquery.js}" src="../../static/script/global/jquery.js"></script>
    <script type="module" th:src="@{/script/schedule/update.js}" src="../../static/script/schedule/update.js"></script>

    <!-- 달력 -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

<div class="container">
    <!-- 왼쪽 영역: 내용이 많을 경우 스크롤 생김 -->
    <div class="left">
        <!-- 전체 정보 -->
        <div id="basicInfo" class="basic-info">
            <!-- 새로운 컨테이너 추가 -->
            <div class="schedule-header-container">
                <!-- 왼쪽 요소 (국가명 & 일정 기간) -->
                <div class="schedule-info-left">
                    <div class="schedule-country-name-container">
                        <span id="countryName" class="country-name" th:text="${schedule.countryName}"></span>
                        <span class="location-seperator">・</span>
                        <span id="cityName" class="city-name" th:text="${schedule.cityName}"></span>
                        <span id="scheduleId" hidden th:text="${schedule.id}"></span>
                        <span id="countryId" hidden th:text="${schedule.countryId}"></span>
                        <span id="cityId" hidden th:text="${schedule.cityId}"></span>
                    </div>
                    <div class="schedule-duration-container">
                        <span id="scheduleStartDate" class="schedule-start-date" th:text="${schedule.startDate}">2025-01-13</span>
                        <span class="schedule-date-seperator">~</span>
                        <span id="scheduleEndDate" class="schedule-end-date" th:text="${schedule.endDate}">2025-01-14</span>
                    </div>
                </div>
                <!-- 오른쪽 요소 (저장하기 버튼) -->
                <div class="schedule-info-right">
                    <button class="save-schedule-btn">저장하기</button>
                </div>
            </div>
            <!-- 기존의 일정 이름 입력 박스 -->
            <div class="schedule-name-container">
                <input type="text" id="scheduleName" class="schedule-name" th:value="${schedule.name}">
            </div>
        </div>
        

        <!-- 날짜 별 스케줄 렌더링 영역 -->
        <div class="schedule-info">
            <!-- 전체 스케줄 컨테이너 -->
            <div class="day-content">
                <!-- 일 별 스케줄 컨테이너 -->
                <div class="day-anchor" th:each="detailSchedule, status: ${schedule.detailSchedules}">
                    <!-- 스케줄 헤더 정보 -->
                    <div id="dayHeader1" class="day-header">
                        <span class="detail-schedule-id" th:text="${detailSchedule.id}" hidden></span>
                        <span class="date-order">Day [[ ${status.count} ]]</span>
                        <button class="delete-day-btn">-</button>
                    </div>
                    <!-- 관광지 목록 -->
                    <div class="flex-item" th:each="route : ${detailSchedule.routes}">
                        <span class="route-id" th:text="${route.id}" hidden></span>
                        <div class="attraction-box">
                            <button class="delete-dest-btn">-</button>
                            <div class="dest-img" th:switch="${route.destination.type}">
                                <img th:case="1" th:src="|${baseStaticURL}/sightseeing/destination/${route.destination.titleImg}|">
                                <img th:case="2" th:src="|${baseStaticURL}/restaurant/destination/${route.destination.titleImg}|">
                                <img th:case="3" th:src="|${baseStaticURL}/shopping/destination/${route.destination.titleImg}|">
                                <img th:case="4" th:src="|${baseStaticURL}/accommodation/destination/${route.destination.titleImg}|">
                                <img th:case="5" th:src="|${baseStaticURL}/transport/destination/${route.destination.titleImg}|">
                                <img th:case="6" th:src="|${baseStaticURL}/tourism/destination/${route.destination.titleImg}|">
                            </div>
                            <div class="dest-info">
                                <span class="dest-id" th:text="${route.destination.id}" hidden></span>
                                <span class="dest-name" th:text="${route.destination.krName}"></span>
                                <div class="dest-meta" th:switch="${route.destination.type}">
                                    <span class="dest-type" th:case="1" th:text="관광지"></span>
                                    <span class="dest-type" th:case="2" th:text="식당"></span>
                                    <span class="dest-type" th:case="3" th:text="쇼핑센터"></span>
                                    <span class="dest-type" th:case="4" th:text="숙박업소"></span>
                                    <span class="dest-type" th:case="5" th:text="대중교통"></span>
                                    <span class="dest-type" th:case="6" th:text="여행지"></span>
                                    <span class="separator">·</span>
                                    <span class="loc-city" th:text="${route.destination.city.krName}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-dest-btn-container">
                        <button class="add-dest-btn">+</button>
                    </div>
                </div>
                <div class="add-day-btn-container">
                    <button class="add-day-btn">다음 날 추가</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="right">
        
        <!-- 검색창 배치 -->
        <div id="searchWrapper" class="search-wrapper">
            <input type="text" id="searchBox" class="search-box" placeholder="검색어 입력">
            <span id="searchIcon" class="search-icon"></span>
        </div>

        <!-- 달력 컨테이너 -->
        <div id="calendarContainer" class="calendar-container">
            <input type="text" id="dateRangePicker" class="date-picker-input" placeholder="날짜 선택">
        </div>

        <!-- 검색 결과 컨테이너 -->
        <div class="result-box">
            <div class="destination-card" th:each="destination: ${hotDestinations}">
                <div class="dest-img-container" th:switch="${destination.type}">
                    <img class="dest-img" th:case="1" th:src="|${baseStaticURL}/sightseeing/destination/${route.destination.titleImg}|" alt="Destination Image">
                    <img class="dest-img" th:case="2" th:src="|${baseStaticURL}/restaurant/destination/${route.destination.titleImg}|" alt="Destination Image">
                    <img class="dest-img" th:case="3" th:src="|${baseStaticURL}/shopping/destination/${route.destination.titleImg}|" alt="Destination Image">
                    <img class="dest-img" th:case="4" th:src="|${baseStaticURL}/accommodation/destination/${route.destination.titleImg}|" alt="Destination Image">
                    <img class="dest-img" th:case="5" th:src="|${baseStaticURL}/transport/destination/${route.destination.titleImg}|" alt="Destination Image">
                    <img class="dest-img" th:case="6" th:src="|${baseStaticURL}/tourism/destination/${route.destination.titleImg}|" alt="Destination Image">
                </div>
                <div class="dest-line1">
                    <span class="dest-id" hidden th:text="${destination.id}"></span>
                    <span class="dest-krName" th:text="${destination.krName}"></span>
                    <div class="rating-container">
                        <span class="star-rating" style="--score-percent: 90%;"></span>
                        <span class="dest-score" th:text="${destination.score}"></span>
                    </div>
                </div>
                <div class="dest-line2">
                    <span class="dest-title" th:text="${destination.title}"></span>
                </div>
                <div class="dest-line3" th:switch="${destination.type}">
                    <span class="dest-type" th:case="1" th:text="관광지"></span>
                    <span class="dest-type" th:case="2" th:text="식당"></span>
                    <span class="dest-type" th:case="3" th:text="쇼핑센터"></span>
                    <span class="dest-type" th:case="4" th:text="숙박업소"></span>
                    <span class="dest-type" th:case="5" th:text="대중교통"></span>
                    <span class="dest-type" th:case="6" th:text="여행지"></span>
                </div>
                <div class="append-destination-container">
                    <button class="append-destination-btn">+</button>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>